<nav class="navbar">
    <div class="navbar-brand">
        <a routerLink="/home">Tienda Black</a>
    </div>
        <a routerLink="/categories">Categorias</a>
        <a routerLink="/favorites">Favoritos</a>
        @if (auth.isAdmin()) {
          <a routerLink="/admin/products">Productos</a>
        }

    <app-search-bar (search)="onSearch($event)" />

   <div class="auth-nav">
  @if (auth.isLoggedIn()) {
    <button type="button" (click)="auth.logout()">Cerrar sesión</button>
  } @else {
    <button type="button" (click)="modal.openLogin()">Iniciar Sesion</button>
  }
</div>
</nav>